<!DOCTYPE html>

<html>
    <head>
        <title>Votação</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container ">
            <div class="branco">
                <div class="cinzaClaro">
                  <div class="d-1-1">
                    <span>SEU VOTO PARA</span>
                </div>
                <div class="d-1-2">
                  <span>PRESIDENTE</span>
              </div>

                    <form class="d-1-digitos" action="">
                        <input class="campos flashes" size="1" id="campo1" [value]="valueInput1" maxlength="1" type="text" readonly="readonly"/>
                        <input class="campos flashes" size="1" id="campo2" [value]="valueInput2" maxlength="1" type="text" readonly="readonly"/>
                        <div *ngIf="showDiv1 == true">
                          <img class="d-1-image" src="/assets/img/Lula.png" alt="Presidente">

                            <div class="d-1-4">
                                Nome: LULA<br>
                                Partido: PT <br>
                                Vice-Presidente: Geraldo Alckmin
                            </div>

                        <div class="d-1-image_vice small">
                          <img src="/assets/img/Geraldo_Alckmin.png" alt="Imagem Vice-Presidente">
                          VICE-PRESIDENTE
                      </div>
                        <div class="d-2">
                          Aperte a tela: <br>
                          CONFIRMA para CONFIRMA o voto <br>
                          C0RRIGE para REINICIA ester voto

                         </div>
                        </div>

                        <div *ngIf="showDiv2 == true">
                          <img class="d-1-image" src="/assets/img/Bolsonaro.png" alt="Presidente">
                          <div class="d-1-left">
                            <div class="d-1-4">
                                Nome: BOLSONARO<br>
                                Partido: PL <br>
                                Vice-Presidente: Braga Netto
                            </div>
                        </div>

                          <div class="d-1-image_vice small">
                              <img src="/assets/img/Braga_Netto.png" alt="Imagem Vice-Presidente">
                              VICE-PRESIDENTE
                          </div>

                        <div class="d-2">
                          Aperte a tela: <br>
                          CONFIRMA para CONFIRMA o voto <br>
                          C0RRIGE para REINICIA ester voto

                         </div>
                      </div>

                      <div *ngIf="votoNulo">
                        <p  class="nulo flashes">VOTO NULO</p>
                        <div class="d-2">
                          Aperte a tela: <br>
                          CONFIRMA para CONFIRMA o voto <br>
                          C0RRIGE para REINICIA ester voto
                         </div>
                      </div>

                      <div *ngIf="votoBranco">
                        <p  class="voto_Branco flashes">VOTO BRANCO</p>
                        <div class="d-2">
                          Aperte a tela: <br>
                          CONFIRMA para CONFIRMA o voto <br>
                          C0RRIGE para REINICIA ester voto
                         </div>
                      </div>

                      <div *ngIf="confirmaVoto">
                        <p  class="FIM flashes">FIM</p>
                      </div>

                    </form>


                </div>
                <div class="cinzaEscuro">
                  <img class="img-justica" src="/assets/img/brasaoje.png" alt="brasao">
                    <b>JUSTIÇA<br>ELEITORAL</b>
                </div>
                <div class="preto">
                    <button class="bnt click" (click)="getValue('1')">1</button>
                    <button (click)="getValue('2')" class="bnt click">2</button>
                    <button (click)="getValue('3')" class="bnt click">3</button>
                    <button (click)="getValue('4')" class="bnt click">4</button>
                    <button (click)="getValue('5')" class="bnt click">5</button>
                    <button (click)="getValue('6')" class="bnt click">6</button>
                    <button (click)="getValue('7')" class="bnt click">7</button>
                    <button (click)="getValue('8')" class="bnt click">8</button>
                    <button (click)="getValue('9')" class="bnt click">9</button>
                    <button (click)="getValue('0')" class="bnt click_0">0</button>
                    <div class="teclado2">
                        <button (click)="putWhiteVote()" class="branco  click">BRANCO</button>
                        <button (click)="reviewVote()" class="laranja  click" >CORRIGE</button>
                        <button (click)="confirmVoto()" class="verde click" >CONFIRMA</button>
                    </div>
                </div>
            </div>
            <a href="resultado.html">Resultado</a>
        </div>

    </body>
</html>
